{
	debug
	local_certs
	http_port 8080
	https_port 8443
	admin off
	order redirector before redir

	redirector {
		region us-east-1
		endpoint http://localhost:8000
		table RedirectorConfigDev
		key Hostname
	}

	storage dynamodb {
		table RedirectorCertsDev
	}

	on_demand_tls {
		permission dynamodb
	}
}

:8443 {
	tls {
		on_demand
		issuer internal
	}
	redirector
}
